# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
*.sln
./src/Calculator/bin
src/Calculator/obj
src/profiler/bin
src/profiler/obj
src/testlib/bin
src/testlib/obj
